<!-- contendor para mantener deudas -->
	<div class="container" ng-controller="controladordeudas">
		<center>
			<h5>Capital Actual = ${{capital}}</h5><!-- muestra el capital actual de la aplicacion-->
		</center>
		<br>
		<h3>Gestión de Prestamos Realizados</h3>
		<li class="divider"></li>
		<h4>Prestamos Registrados</h4>
		<li class="divider"></li>
		<table class="highlight responsive-table"><!-- tabla que muestra los prestamos realizados -->
	        <thead>
	          <tr>
	              <th class="col s3">Nombre</th>
	              <th class="col s3">Email</th>
	              <th class="col s3">Telefono</th>
	              <th class="col s3">Cantidad</th>
	              <th class="col s3">Acción</th>
	          </tr>
	        </thead>

	        <tbody>
	          <tr ng-repeat="prestamo in prestamos">
	            <td class="col s3">{{prestamo.cliente.nombre}}</td>
	            <td class="col s3">{{prestamo.cliente.email}}</td>
	            <td class="col s3">{{prestamo.cliente.telefono}}</td>
	            <td class="col s3">{{prestamo.prestamo}}</td>
	            <td class="col s3"><button class="btn purple darken-1" ng-click="pagarCuotas($index)">Gestionar</button></td><!-- boton que lleva a la vista de pago de cliente -->
	          </tr>
	        </tbody>
	    </table>
	
	</div>